<!DOCTYPE html>
<html>
    <head>
        <title>Olivia Wan</title>
        <!--jQuery-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <!--angular scripts-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        
        <!--smooth scroll script-->
        <script type="text/javascript" src="http://www.kryogenix.org/code/browser/smoothscroll/smoothscroll.js"></script>
        
        <!--fonts-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--mobile scaling-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--materialize-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

        <!--main stylesheet-->
        <link rel="stylesheet" href="styles/style.css">

        <!--angular route-->
        <script src="bower_components/angular-route/angular-route.min.js"></script>

        <!--sticky scroll-->
        <script>
        $(function(){ // document ready
            var stickyTop = $('#stick').offset().top; // returns number
            $(window).scroll(function(){ // scroll event
                var windowTop = $(window).scrollTop(); // returns number
                if (stickyTop < windowTop) {
                    $('#stick').css({ position: 'fixed', top: 0 });
                }
                else {
                    $('#stick').css({ position: 'absolute', top: 400});
                }
            });
        });
        </script>
    </head>
    
    <body ng-app="myapp" ng-controller="mainController">
        
        <!--background image for bio-->
        <div class="biobg"></div>
        
        <!--absolute positioning wrap-->
        <div style="position:absolute;top:0px;left:0px;width:100%;height:100%;">

        <!--banner nav-->
        <div class="navigation" id="stick">
            <a href="/#/">home</a>
            <a ng-repeat="nav in navigation" href="{{nav.href}}">{{nav.title}}</a>
        </div>
            
        <!--bio-->
        <div class="bio" style="margin:0px;margin-bottom:50px;">
            <a href="#container"><div class="fa fa-chevron-down" id="down"></div></a>
            <div id="biowrap">
                <!--header-->
                <h1>Olivia Wan</h1>
                <div id="subtitle">computer science + biology</div>
            </div>
        </div>

        <!--main content-->
        <div ng-view></div>

        <!--footer-->
        <div class="footer">
            <!--contact links-->
            <div id="icons">
                <a ng-repeat="link in links" href="{{link.link}}" title="{{link.title}}" target="blank"><div class="fa {{link.icon}}"></div></a>
            </div><!--icons-->
        </div><!--footer-->

        </div><!--wrap-->

        <!--angular controllers-->
        <script src="js/mainController.js"></script>
        <script src="js/projectController.js"></script>
    </body>
</html>
