html, body {
    height:100%;
}

body {
    font-family:roboto;
    font-size:15px;
    line-height: 150%;
}

#container {
    margin:0 auto;
    max-width:800px;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:50px;
}

h1 {
    color:#fff;
    letter-spacing:2px;
    font-size:40px;
    margin-bottom:10px;
}

#subtitle {
    margin:0px;
    margin-top:-10px;
    letter-spacing:2px;
    margin-bottom:20px;
}

h1, h2, h3 {
    font-family: open sans;
}

.bio {
    width:100%;
    padding:20px 40px;
    box-sizing: border-box;
    color:#aaa;
    overflow: auto;
    text-align: center;
    background:#333;
    box-shadow: 0 0 20px #555;
}

.bio a {
    color:#fff;
}

#down {
    font-size:30px;
    width:100%;
}

.desc {
    max-width:800px;
    margin:auto;
}

#icons {
    text-align: center;
    font-size: 30px;
    margin:20px 0;
}

#icons a {
    display:inline-block;
    color:#fff;
    margin:0 10px;
}

a {
    text-decoration:none;
    color:#0066cc;
}

#down {
    display:none;
}

h2 {
    text-align: center;
    margin-top:40px;
    font-size:30px;
}

#project {
    width:calc((100% - 80px) / 2);
    display:inline-block;
    text-align:center;
    box-sizing: border-box;
    margin:20px;
}

#project img {
    max-width: 100%;
}

#made {
    display:inline-block;
    padding:3px 5px;
    color:#fff;
    background:#333;
    margin-right:5px;
    margin-bottom:5px;
    text-transform: lowercase;
}

#links a {
    display:inline-block;
    color:#fff;
    background:#aaa;
    margin-right:5px;
    padding:3px 5px;
}

.footer {
    background:#333;
    color:#fff;
    width:100%;
    text-align: center;
    padding:20px;
}

h3 {
    font-size:15px;
}

@media screen and (max-width: 810px) {

    .bio {
        height:100%;
        box-sizing: border-box;
        padding:0 20px;
        z-index:999999;
        background:rgba(0, 0, 0, 0.3);
        display:table;
        box-shadow: none;
    }

    #biowrap {
        display:table-cell;
        vertical-align:middle;
    }

    .biobg {
        position:absolute;
        top:0px;
        left:0px;
        height:100%;
        z-index:0;
        width:100%;
        background-image:url("http://unsplash.it/1080x1920");
    }

    .bio div {
        margin-top:30px;
/*        margin:50px 0;*/
    }

    #down {
        display:block;
        position:absolute;
        font-size:30px;
        width:100%;
        left:0px;
        top:calc(100% - 120px);
    }

    #container {
        padding-bottom:10px;
        width:600px;
        margin:auto;
    }
    
    .card-title {
    }
}

@media screen and (max-width: 600px) {
    #container {
        width:100%;
    }
    #project {
        width:calc(100% - 40px);
    }
}

