body {
    padding-top:50px;
    font:15px open sans;
    background:#eee;
    color:#888;
    background-image:url("http://placekitten.com/1920/800");
    background-attachment: fixed;
    position:relative;
}

a {
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease-in-out;

}

h3 {
    margin:50px 0 20px 0;
    text-align:center;
    font-size:30px;
    letter-spacing: 2px;
}

h4 {
    text-align:center;
    letter-spacing: 2px;
}

#topnav {
/*    height:50px;*/
    background:#000;
    color:#fff;
    text-transform:uppercase;
    border-radius: 0;
    left:0px;
    right:0px;
    z-index:99999999999;
    border:none;
    padding-right:15px;
}

#topnav a {
    color:#fff;
}

#topnav li {
}

#intro {
    z-index:0;
    height:650px;
    background-color:rgba(51,51,51,0.5);
    padding-top:200px;
}

#portrait {
}

#portrait img {
    height:100px;
    width:100px;
    border-radius: 100px;
}

#banner {
    margin-top:50px;
}

#name {
    color:#fff;
    font-size:40px;
    letter-spacing: 2px;
}

#major {
    color:#ccc;
    font-size:15px;
    letter-spacing: 1px;
}

#about {
    background:#fff;
    padding:30px;
}

#about img {
    max-width: 100%;
    margin-bottom:50px;
}

#experience {
    background:#eee;
    padding:30px;
}

#experience div {
    padding:40px;
    text-align: center;
}

#contact {
    background:#555;
    line-height: 200px;;
}

#contacticons li {
    list-style-type: none;
    display:inline-block;
    height:50px;
    width:50px;
    background:#000;
    line-height: 60px;
    margin:0 1px;
    margin-bottom:-10px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease-in-out;
}

#contacticons span {
    font-size:30px;
    color:#fff;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease-in-out;
}

#contacticons li:hover {
    background:#888;
    color:#000;
}