body {
    font-family:roboto;
    font-size:15px;
    line-height: 150%;
}

.container {
    margin:10% auto;
    max-width:800px;
    padding:0 20px;
}

h1 {
    border-bottom:1px solid #ccc;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

h1, h2 {
    font-family: open sans;
}

#icons {
    text-align: center;
    font-size: 30px;
    margin-top:20px;
}

#icons a {
    color:#000;
    margin:0 5px;
}

a {
    text-decoration:none;
    color:#aaa;
}
