<!--
<div class="desc">
    <div id="text">I'm a second year student at <a href="http://neu.edu">Northeastern University</a> in the <a href="http://ccis.neu.edu">College of Computer and Information Science</a>, pursuing a combined <a href="https://www.ccis.northeastern.edu/program/bs-combined-major-for-computer-science-and-biology/">BS in Computer Science and Biology</a>. I'm interested in creating and developing software, especially within a biotechnology or computational biology context. Check out some projects I've worked on here!</div>
</div>-->

<iframe src="http://omwan.github.io/images/resume_f16.pdf" style="width:1000px;margin:100px -100px;height:1200px;"></iframe>
