body {
  font-family: roboto;
  font-size: 15px;
  background: #000; }
  body a, body a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease-in-out; }

.container-fluid {
  background: transparent; }

#header {
  background: #333;
  color: #ccc;
  padding: 50px 0;
  text-align: center; }
  #header a {
    color: #fff; }
  #header h1 {
    font-family: open sans;
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 3px; }

#projects {
  color: #fff; }
  #projects .col-lg-6 {
    padding: 0px;
    background: #000; }
    #projects .col-lg-6 img {
      width: 100%;
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease-in-out; }
    #projects .col-lg-6 .description {
      text-align: left;
      height: 100%;
      overflow: auto;
      display: table-cell;
      vertical-align: middle;
      z-index: 999;
      width: 100%;
      box-sizing: border-box;
      padding: 50px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease-in-out; }
      #projects .col-lg-6 .description p a {
        color: #aaaaff;
        text-decoration: underline; }
  #projects #buttons a, #projects #mades a, #projects #links a, #projects #buttons span, #projects #mades span, #projects #links span {
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 10px;
    color: #fff;
    text-transform: lowercase; }
  #projects #mades {
    margin-top: 20px; }
    #projects #mades span {
      background: #888; }
  #projects #links a {
    background: #333; }
  #projects #links a:hover {
    color: #000;
    background: #fff; }

#footer {
  text-align: center; }
  #footer #linksout {
    background: #333;
    padding: 50px 0; }
  #footer #contacts a {
    display: inline-block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    margin: 0px 5px; }
    #footer #contacts a:hover {
      color: #000;
      background: #fff; }
  #footer #copyright {
    background: #222;
    color: #888;
    height: 50px;
    line-height: 50px; }

#more {
  margin: 50px 0;
  text-align: center; }

@media screen and (max-width: 1400px) {
  #projects .col-lg-6 .description {
    padding: 20px; } }
@media screen and (min-width: 769px) {
  #projects .col-lg-6 .description {
    position: absolute;
    opacity: 0; }
  #projects .col-lg-6:hover img {
    opacity: 0.5;
    -webkit-filter: blur(2px); }
  #projects .col-lg-6:hover .description {
    opacity: 1; }
  #projects .col-lg-6 #mobilephoto {
    display: none; } }
@media screen and (max-width: 768px) {
  #projects .col-lg-6 {
    border-top: 10px solid #aaaaff;
    font-size: 13px; }
    #projects .col-lg-6 #desktopphoto {
      display: none; }

  #more {
    display: none; } }

/*# sourceMappingURL=style.css.map */
