html, body {
  height: 100%; }

body {
  font-family: roboto;
  font-size: 15px;
  line-height: 150%; }
  body a {
    text-decoration: none;
    color: #0066cc;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease-in-out; }
  body h1, body h2, body h3 {
    font-family: open sans; }

#biography h1 {
  color: #fff;
  letter-spacing: 3px;
  font-size: 40px;
  margin-bottom: 10px; }
#biography #subtitle {
  margin: 0px;
  margin-top: -10px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: lowercase; }
#biography .bio {
  width: 100%;
  box-sizing: border-box;
  color: #aaa;
  overflow: auto;
  text-align: center;
  height: 400px;
  display: table;
  background: rgba(0, 0, 0, 0.5); }
  #biography .bio a {
    color: #fff; }
#biography #biowrap {
  display: table-cell;
  vertical-align: middle; }
#biography .biobg {
  height: 400px;
  background-image: url("http://unsplash.it/1920/1080");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 50px; }
#biography .navigation {
  position: absolute;
  top: 400px;
  color: #000;
  height: 50px;
  background: #000;
  text-align: center;
  line-height: 50px;
  width: 100%;
  z-index: 99999; }
  #biography .navigation a {
    display: inline-block;
    padding: 0 20px;
    color: #fff; }
  #biography .navigation a:hover {
    background: #555;
    color: #000; }
#biography #down {
  font-size: 30px;
  width: 100%;
  display: none; }

#container, .maincont, .aboutcont, .projcont {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px; }
  #container h2, .maincont h2, .aboutcont h2, .projcont h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px; }

.maincont {
  max-width: 800px;
  padding: 0 20px;
  margin-top: 90px; }
  .maincont #navcard {
    margin: 0px;
    margin-bottom: 40px; }

.aboutcont {
  max-width: 1200px; }

.projcont {
  width: 1600px;
  margin-top: 20px; }
  .projcont .projdesc {
    text-align: center;
    padding: 0 20px;
    font-size: 13px;
    color: #888; }
  .projcont #project {
    width: calc((100% - 160px) / 4);
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin: 20px; }
    .projcont #project #button, .projcont #project #made, .projcont #project #link {
      display: inline-block;
      padding: 3px 5px;
      color: #fff;
      background: #333;
      margin-right: 5px;
      margin-bottom: 5px;
      text-transform: lowercase; }
    .projcont #project #made, .projcont #project #link {
      background: #333; }
    .projcont #project #link {
      background: #aaa; }
    .projcont #project img {
      max-width: 100%; }
    .projcont #project #navcards {
      margin-top: 20px;
      margin-bottom: -20px; }
      .projcont #project #navcards .card {
        margin-bottom: 50px; }
      .projcont #project #navcards .card-title {
        text-shadow: .5px .5px .2px #000; }

@media screen and (max-width: 1600px) {
  .projcont {
    width: 800px; }

  #project {
    width: calc((800px - 80px) / 2); } }
.footer {
  background: #333;
  color: #ccc;
  width: 100%;
  text-align: center;
  padding: 20px; }
  .footer #icons {
    text-align: center;
    font-size: 30px;
    margin: 20px 0; }
    .footer #icons a {
      display: inline-block;
      color: #fff;
      background: #000;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      margin: 0 5px; }
    .footer #icons a:hover {
      color: #000;
      background: #fff; }

@media screen and (max-width: 810px) {
  .bio {
    height: 100%;
    box-sizing: border-box;
    padding: 0 60px;
    z-index: 999999;
    box-shadow: none;
    color: #bbb; }

  .biobg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 0;
    width: 100%; }

  .bio div {
    margin-top: 30px; }

  #down {
    display: block;
    position: absolute;
    font-size: 30px;
    width: 100%;
    left: 0px;
    top: calc(100% - 120px); }

  #container, .maincont, .aboutcont, .projcont {
    padding-bottom: 10px;
    width: 700px;
    margin: auto; } }
@media screen and (max-width: 700px) {
  #container, .maincont, .aboutcont, .projcont {
    width: 100%; }

  #project {
    width: calc(100% - 40px); }

  .bio {
    padding: 0 20px; } }

/*# sourceMappingURL=style.css.map */
