@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease-in-out;
}

$transition-time: .3s;
body {
    font-family: roboto;
    font-size: 15px;
    background: #fff;
    color: #555;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    a,
    a:hover {
        text-decoration: none;
        @include transition($transition-time);
    }
}

header {
    .sidebar {
        text-align: center;
        padding: 0 40px;
        div {
            margin: 20px 0;
        }
        img {
            width: 200px;
            height: 200px;
            display: block;
            border-radius: 100%;
        }
        .desc {
            font-size: 14px;
            color: #888;
        }
        .links {
            margin-top: 20px;
            a {
                display: inline-block;
                color: #000;
                margin: 0 5px;
                font-size: 20px;
            }
            a:hover {
                color: #888;
            }
        }
    }
}

main {
    .category-header h3 {
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .entry {
        margin-bottom: 20px;
        .entry-info {
            ul {
                padding-left: 0px;
            }
            li {
                list-style-type: none;
            }
        }
    }
}

footer {
    padding-bottom: 20px;
    font-siz: 14px;
    color: #888;
    margin-top: auto;
}

//computer screens
@media screen and (min-width:1366px) {
    header {
        .sidebar {
            position: fixed;
            top: 100px;
            left: 0px;
            width: 20%;
            height: calc(100% - 200px);
            border-right: 1px solid #ccc;
        }
    }
    main {
        .container-fluid {
            box-sizing: content-box;
            padding-left: calc(20% + 30px);
            max-width: 1200px;
            margin: 0px;
        }
    }
}

//tablet/small computer screens
@media screen and (min-width:992px) {
    main {
        .entry {
            .entry-info {
                text-align: right;
            }
            .entry-description ul {
                padding-left: 20px;
            }
        }
    }
}

//mobile screens
@media screen and (max-width:991px) {
    main {
        .entry {
            .entry-description {
                margin-top: 5px;
            }
            .entry-info {
                text-align: left;
            }
        }
    }
}